<!--_meta 作为公共模版分离出去-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="Bookmark" href="__ADMIN__/favicon.ico">
    <link rel="Shortcut Icon" href="__ADMIN__/favicon.ico"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__ADMIN__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__ADMIN__/lib/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="__ADMIN__/colorpicker/js/colorpicker.js"></script>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/colorpicker/css/colorpicker.css"/>
    <script type="text/javascript">
        $('#colorpicker').ColorPicker(options);
    </script>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="__ADMIN__/static/h-ui.admin/css/style.css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="__ADMIN__/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <!--/meta 作为公共模版分离出去-->
</head>
<body>
<article class="page-container">
    {block name="content"}
    {/block}
</article>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__ADMIN__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<script type="text/javascript" src="__ADMIN__/ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="__ADMIN__/ckeditor/ckfinder/ckfinder.js"></script>
<script type="text/javascript">



    CKEDITOR.replace('text', { //这里的 mycontent就是上面我们设置的textarea或者input元素的id
            filebrowserUploadUrl: '/fish.php/admin/uploadimage?command=QuickUpload&type=Files&responseType=json',
            width: 900,//设置默认宽度为900px
            height: 300  //设置默认高度是300px，这个高度是不包含顶部菜单的高度
        }
    );

    /*修改*/
    function obj_save() {

        var text = document.getElementsByName("text");

        if (text.length != 0) {
            var text = CKEDITOR.instances.text.getData();/*获取富文本*/
            if (text != "" || text != null) {
                $("#textarea").attr("value", text);/*富文本渲染值*/
            }
        }

        var form = document.getElementById("form-member-add");
        var formdata = new FormData(form);
        $.ajax({
            type: 'POST',
            url: "{:url('save')}",
            processData: false,  // 不要处理发送的数据
            contentType: false,   // 不要设置Content-Type请求头
            data: formdata,
            dataType: 'json',
            success: function (data) {
                console.log(data);
                if (data.status == -2) {
                    layer.msg(data.msg, {icon: 1, time: 1000});/*数据不能为空*/
                    return false;
                } else if (data.status == 1) {
                    layer.msg(data.msg, {icon: 1, time: 1000});/*成功*/
                    setTimeout(function () {
                        location.href = "{:url('index')}";
                    }, 1000);
                } else if (data.status == -1) {
                    layer.msg(data.msg, {icon: 5, time: 1000});/*失败*/
                    return false;
                } else {
                    layer.msg(data.msg, {icon: 1, time: 1000});
                    return false;
                }
            },
            error: function (data) {
                console.log(data.msg);
            },
        });
    }


</script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__ADMIN__/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="__ADMIN__/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>