{extend name="Public:Basesave"/}
{block name="content"}

<form action="" method="post" class="form form-horizontal" id="form-member-add">
    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">名称</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$row['name']?$row['name']:''}" name="name">
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">地址</label>
        <div class="formControls col-xs-8 col-sm-9">
            <input type="text" class="input-text" value="{$row['path']?$row['path']:''}" name="path">
        </div>
    </div>

    <div class="row cl">
        <label class="form-label col-xs-4 col-sm-3">导航编号</label>
        <div class="formControls col-xs-8 col-sm-9">
            <select class="btn btn-primary radius" name="nav_id" id="nav_id">
                <option value="">--请选择--</option>
                {volist name="navs" id="nav"}
                <option value="{$nav.id}"
                <?php if(isset($row)){ if($nav['id']==$row['nav_id']){ ?> selected="selected" <?php }} ?> >{$nav.name}</option>
                {/volist}
            </select>
        </div>
    </div>

    <input type="hidden" name="id" value="{$row['id'] ? $row['id'] : ''}">
    <div class="row cl">
        <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
            <input class="btn btn-primary radius" onclick="obj_save()" type="button" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
        </div>
    </div>
</form>
{/block}
